
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">







 


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>행사/이밴트</title>
<link href="http://my.snu.ac.kr/mysnu/Html2/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="rightArea">
	<div class="event">
		<div class="title"><span><a href="http://my.snu.ac.kr/mysnu/portal/MS010/en/TO030/SB020.page" target="_parent"><img src="http://my.snu.ac.kr/mysnu/Html/img/main/event_title_en.gif" alt="행사/이벤트" /></a></span></div>

	    <dl class="first">
	        <dt>Special Lecture by Dr. Jeff W. Lichtman</dt>
	    	<dd><a href="http://my.snu.ac.kr/mysnu/portal/MS010/en/TO030/SB020/SB020DTL.page?EVENT_SEQ=4304&HIST_BACK_TYPE=MAIN" target="_parent"><img src="http://my.snu.ac.kr/mysnu/pic/snuEvent/img/201405271401181723362.jpg" alt="Special Lecture by Dr. Jeff W. Lichtman" width="80px" height="60px"http://my.snu.ac.kr/></a></dd>
	    </dl>

	    <dl class="">
	        <dt>[The 6th Japanese Seminar]</dt>
	    	<dd><a href="http://my.snu.ac.kr/mysnu/portal/MS010/en/TO030/SB020/SB020DTL.page?EVENT_SEQ=4272&HIST_BACK_TYPE=MAIN" target="_parent"><img src="http://my.snu.ac.kr/mysnu/Html/img/event/default04.gif" alt="[The 6th Japanese Seminar]" width="80px" height="60px"http://my.snu.ac.kr/></a></dd>
	    </dl>

	    <dl class="">
	        <dt>BCS Colloquium by Dr. Hugh R. Wilson</dt>
	    	<dd><a href="http://my.snu.ac.kr/mysnu/portal/MS010/en/TO030/SB020/SB020DTL.page?EVENT_SEQ=4302&HIST_BACK_TYPE=MAIN" target="_parent"><img src="http://my.snu.ac.kr/mysnu/pic/snuEvent/img/201405271401180732410.png" alt="BCS Colloquium by Dr. Hugh R. Wilson" width="80px" height="60px"http://my.snu.ac.kr/></a></dd>
	    </dl>
		
	</div>
</div>                
</body>
</html>
