<div id="focus-container">
	<iframe id="focus-frame" scrolling="no" src="/en_index">
		#document
	</iframe>
	<div id="shadow_top"></div>
	<div id="shadow_right"></div>
	<div id="shadow_left"></div>
	<div id="shadow_bottom"></div>
</div>

<div id="modal">
	<h4>Attention, friends!</h4>
	<p>This is the beginning of the new semester.<br>
	Click below to move to SNU Portal!</p>
  <button id="hideButton">Don't show again</button>
</div>

<script>
	$(document).ready(function() {
		$(document).scrollTop("0");
		$("#shadow_top").hide().delay(2000).fadeIn("slow");
		$("#shadow_right").hide().delay(2000).fadeIn("slow");
		$("#shadow_left").hide().delay(2000).fadeIn("slow");
		$("#shadow_bottom").hide().delay(2000).fadeIn("slow");
		$("#modal").hide().delay(2000).fadeIn("slow");
		$("html, body").delay(1000).animate({scrollTop: 400}, 1000);
	});

  $('#hideButton').click(function() {
    //$('#shadow_top').slideUp('fast',function(){
      $('#shadow_top').css('top','-9999px'); 
    //});
    //$('#shadow_right').slideUp('fast',function(){
      $('#shadow_right').addClass('hide'); 
    //});
    //$('#shadow_left').slideUp('fast',function(){
      $('#shadow_left').addClass('hide'); 
    //});
    //$('#shadow_bottom').slideUp('fast',function(){
      $('#shadow_bottom').addClass('hide'); 
    //});
      $('#modal').css('top','-9999px'); 
  });



</script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
