<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<title>국립대학법인 서울대학교</title>
<meta name="author" content="SEOUL NATIONAL UNIVERSITY" />
<meta name="robots" content="all" />

<link rel="icon" href="http://snu.ac.kr/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://snu.ac.kr/favicon.ico" type="image/x-icon" />

<link rel="apple-touch-icon-precomposed" href="http://snu.ac.kr/mobileicon.png" />


<link rel="stylesheet" type="text/css" href="http://snu.ac.kr/_skin/default/css/style_0720.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://snu.ac.kr/_skin/default/css/jquery.lightbox.css" media="all" />



<!--[if IE 6]>
  <link rel="stylesheet" href="http://snu.ac.kr/_skin/default/css/ie6.css" type="text/css" media="all" />

  <script src="http://snu.ac.kr/js/DD_belatedPNG-min.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div, ul, img, li, input, h2, a');
    </script>
<![endif]-->

<!--[if IE 7]><link rel="stylesheet" href="http://snu.ac.kr/_skin/default/css/ie7.css?8d037fc31a6969aee884b7672e459037" type="text/css" media="all" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" href="http://snu.ac.kr/_skin/default/css/ie8.css?8d037fc31a6969aee884b7672e459037" type="text/css" media="all" /><![endif]-->

<script type="text/javascript" src="http://snu.ac.kr/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="http://snu.ac.kr/js/jquery-ui-1.8.2.min.js"></script>
<script type="text/javascript" src="http://snu.ac.kr/js/zj-common.js"></script>
<script type="text/javascript" src="http://snu.ac.kr/js/zj-calendar.js"></script>
<script type="text/javascript" src="http://snu.ac.kr/js/zj-snu.js?v=2013-07-04"></script>
<script type="text/javascript" src="http://snu.ac.kr/js/netfunnel.js"></script>
<script type="text/javascript" src="http://snu.ac.kr/js/jquery.lightbox.js"></script>


<script type="text/javascript">
//<![CDATA[
$(function(){
	var topmenu1=topmenu("gnb",0,0,0);
})

//]]>
</script>

</head>
<!--“//head-->

<body>
<div id="wrap">

<dl id="skiptoContent">
    <dt><strong class="hidden">바로가기 메뉴1</strong></dt>
    <dd><a href="#withsnucontent" class="accessibility01">본문내용 바로가기</a></dd>
</dl>

<noscript>
  <div class="noscript">현재 사용중인 환경에서는 스크립트 동작이 활성화 되지 않아 일부기능이 원활하게 동작하지 않을 수 있습니다.</div>
</noscript>
<!-- //skip navi -->
<hr />

<!-- header -->
<div id="header">
  <h1><a href="http://snu.ac.kr/index.html">서울대학교</a></h1>
  <div class="bg_blue">
    <dl id="util">
        <dt><strong>기능메뉴</strong></dt>
        <dd class="util05"><a href="http://snu.ac.kr/index.html" title="HOME">HOME</a></dd>
        <dd class="util02"><a href="http://www.snu.ac.kr/sitemap" title="사이트맵">SITEMAP</a></dd>
        <dd class="util03"><a href="/en_index">English(영문사이트)</a></dd>
    </dl>
    <h2 class="hidden">주요메뉴</h2>
    <ul id="gnb">
      <li id="mNavi01"> <a href="http://www.snu.ac.kr/history">대학소개</a>
        <ul class="sNavi01">
          <li class="li01"><a href="http://www.snu.ac.kr/history">서울대 소개</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/history">역사</a></li>
              <li><a href="http://www.snu.ac.kr/symbol/logo">상징</a></li>
              <li><a href="http://www.snu.ac.kr/charter">헌장</a></li>
              <li><a href="http://www.snu.ac.kr/facts">통계현황</a></li>
              <li><a href="http://www.snu.ac.kr/videos">홍보영상</a></li>
              <li><a href="http://www.snu.ac.kr/brochure/2013">홍보책자</a></li>
              <li><a href="http://www.snu.ac.kr/gallery">갤러리</a></li>
            </ul>
          </li>
          <li class="li02"><a href="http://www.snu.ac.kr/president/message">e총장실</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/president/message">인사말</a></li>
              <li><a href="http://www.snu.ac.kr/president/cv">프로필</a></li>
              <li><a href="http://www.snu.ac.kr/president/speeches">연설모음</a></li>
              <li><a href="http://www.snu.ac.kr/president/news">최근동정</a></li>
              <li><a href="http://community.snu.ac.kr/bbs/bbs.qna.list.screen?bbs_id=473" target="_blank" title="새창으로 열림">열린총장실</a></li>
              <li><a href="http://www.snu.ac.kr/presidents">역대총장</a></li>
            </ul>
          </li>
          <li class="li03"><a href="http://www.snu.ac.kr/global/project2">세계속의 서울대</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/global/project2">국제화사업</a></li>
              <li><a href="http://www.snu.ac.kr/global/ranking">국제랭킹</a></li>
              <li><a href="http://oia.snu.ac.kr/" title="새창으로 열림" target="_blank">국제협력본부</a></li>
            </ul>
          </li>
          <li class="li04"><a href="http://rule.snu.ac.kr" target="_blank" title="새창으로 열림">학칙 및 규정</a></li>
          <li class="li05"><a href="http://www.snu.ac.kr/downloads">서울대 자료실</a></li>
          <li class="li06"><a href="http://www.snu.ac.kr/organization">조직도 및 연락처</a></li>
          <li class="li07"><a href="http://www.snu.ac.kr/campus/Gwanak/subway">방문 및 견학</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/campus/Gwanak/subway">관악캠퍼스</a></li>
              <li><a href="http://www.snu.ac.kr/campus/yongon">연건캠퍼스</a></li>
              <li><a href="http://www.snu.ac.kr/campus/others">멀티캠퍼스</a></li>
              <li><a href="http://www.snu.ac.kr/campus/tour">견학안내</a></li>
              <li><a href="http://www.snu.ac.kr/campus/address">주소안내</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li id="mNavi02"> <a href="http://admission.snu.ac.kr/index.html">입학</a>
        <ul class="sNavi02">
          <li class="li01"><a href="http://admission.snu.ac.kr/under/announcements">공지사항</a>
            <ul>
              <li><a href="http://admission.snu.ac.kr/under/announcements">대학</a></li>
              <li><a href="http://admission.snu.ac.kr/graduate/announcements">대학원</a></li>
              <li><a href="http://admission.snu.ac.kr/international/announcements">글로벌인재특별전형</a></li>
            </ul>
          </li>
          <li class="li09"><a href="http://admission.snu.ac.kr/under/early">대학입학 수시모집</a></li>
          <li class="li10"><a href="http://admission.snu.ac.kr/under/regular">대학입학 정시모집</a></li>
          <li class="li03"><a href="http://admission.snu.ac.kr/graduate">대학원입학</a>
            <ul>
              <li><a href="http://admission.snu.ac.kr/graduate/spring/guide">전기모집</a></li>
              <li><a href="http://admission.snu.ac.kr/graduate/fall/guide">후기모집</a></li>
              <li><a href="http://admission.snu.ac.kr/graduate/master-doctoral/timeline">석&middot;박사통합과정</a></li>
              <li><a href="http://admission.snu.ac.kr/graduate/business">전문대학원</a></li>
              <li><a href="http://admission.snu.ac.kr/graduate/administration">계약학과</a></li>
            </ul>
          </li>
          <li class="li11"><a href="http://admission.snu.ac.kr/transfer">편입학</a></li>
          <li class="li12"><a href="http://admission.snu.ac.kr/international/spring/guide">글로벌인재특별전형</a>
            <ul>
              <li><a href="http://admission.snu.ac.kr/international/spring/guide">전기모집</a></li>
              <li><a href="http://admission.snu.ac.kr/international/fall/under/guide">후기모집</a></li>
            </ul>
          </li>
          <li class="li06"><a href="http://admission.snu.ac.kr/stats1">입학자료실</a>
            <ul>
              <li><a href="http://admission.snu.ac.kr/stats1">전형통계</a></li>
              <li><a href="http://admission.snu.ac.kr/samples">기출문제및예시문항</a></li>
              <li><a href="http://admission.snu.ac.kr/guides">전년도모집요강</a></li>
              <li><a href="http://admission.snu.ac.kr/forms">각종지원서류양식</a></li>
              <li><a href="http://admission.snu.ac.kr/major">모집단위별전공분야</a></li>
              <li><a href="http://www.snu.ac.kr/colleges">각 학과(학부)별 홈페이지</a></li>
              <li><a href="http://www.snu.ac.kr/tuition">등록금 및 장학</a></li>
              <li><a href="http://dorm.snu.ac.kr/" title="새창으로 열림" target="_blank">기숙사안내</a></li>
            </ul>
          </li>
          <li class="li13"><a href="http://www.snu.ac.kr/colleges">학부(과)안내</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/colleges">전공안내</a></li>
              <li><a href="http://snuhaksa.snu.ac.kr/ssg/Ssgindex.jsp" title="새창으로 열림" target="_blank">수강편람</a></li>
            </ul>
          </li>

        </ul>
      </li>
      <li id="mNavi03"> <a href="http://www.snu.ac.kr/colleges">교육</a>
        <ul class="sNavi03">
          <li class="li01"><a href="http://www.snu.ac.kr/colleges">대학/대학원</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/colleges">대학</a></li>
              <li><a href="http://www.snu.ac.kr/graduate-school">일반대학원</a></li>
              <li><a href="http://www.snu.ac.kr/professional-graduate-schools">전문대학원</a></li>
            </ul>
          </li>
          <!--li class="li09"><a href="http://snu.ac.kr/edu/edu0801.jsp">기초교양교육</a></li-->
          <li class="li15"><a href="http://www.snu.ac.kr/curriculum">교과과정</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/curriculum">교과과정편람</a></li>
              <li><a href="http://www.snu.ac.kr/curriculum-guide">교과과정해설</a></li>
              <li><a href="http://www.snu.ac.kr/basic-education">기초교양교육</a></li>
            </ul>
          </li>
          <li class="li16"><a href="http://www.snu.ac.kr/academic-calendar">학사행정</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/academic-calendar">학사일정</a></li>
              <li><a href="http://www.snu.ac.kr/tuition">등록금납부</a></li>
              <li><a href="http://www.snu.ac.kr/course-taking">수업</a></li>
              <li><a href="http://www.snu.ac.kr/leave-of-absence">학적</a></li>
              <li><a href="http://www.snu.ac.kr/scholarships">장학금&middot;학자금</a></li>
              <li><a href="http://www.snu.ac.kr/certificate/request">증명서발급</a></li>
            </ul>
          </li>
          <li class="li03"><a href="http://www.snu.ac.kr/students/international-programs">교육지원</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/students/international-programs">국제화교육프로그램</a></li>
              <li class="mr_none"><a href="http://www.snu.ac.kr/students/intra-national-exchange">국내대학학점교류</a></li>
              <li><a href="http://www.snu.ac.kr/students/learning-support">교수학습&middot;이러닝</a></li>
              <li><a href="http://www.snu.ac.kr/students/language-education">외국어교육</a></li>
            </ul>
          </li>
          <li class="li17"><a href="http://www.snu.ac.kr/students/library">대학생활</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/students/library">도서관</a></li>
              <li><a href="http://www.snu.ac.kr/students/career">경력개발센터</a></li>
              <li><a href="http://www.snu.ac.kr/students/campus-life">대학생활문화원</a></li>
              <li><a href="http://www.snu.ac.kr/students/human-rights-center">인권센터</a></li>
              <li><a href="http://www.snu.ac.kr/students/IT">정보화서비스</a></li>
              <li><a href="http://www.snu.ac.kr/students/administration">학생지원센터</a></li>
              <li><a href="http://www.snu.ac.kr/students/disabled">장애학생지원센터</a></li>
              <li><a href="http://www.snu.ac.kr/students/health">의료보건서비스</a></li>
              <li><a href="http://www.snu.ac.kr/students/communities">학생활동</a></li>
              <li><a href="http://www.snu.ac.kr/students/facilities">편의시설안내</a></li>
            </ul>
          </li>
          <li class="li06"><a href="http://www.snu.ac.kr/faculty-handbook">교직원행정</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/faculty-handbook">교수핸드북</a></li>
              <li><a href="http://www.snu.ac.kr/staff-guidebook">학사편람</a></li>
              <li><a href="http://www.snu.ac.kr/faculty-certificates">교원제증명발급</a></li>
              <li><a href="http://www.snu.ac.kr/staff-certificates">직원제증명발급</a></li>
              <li><a href="http://www.snu.ac.kr/faculty-guidebook">교원생활안내</a></li>
            </ul>
          </li>
          <li class="li18"><a href="http://www.snu.ac.kr/non-degree-courses">공개강좌</a></li>
          <li class="li21"><a href="http://adminservice.snu.ac.kr/index.html" title="새창으로 열림" target="_blank">행정 서비스 헌장</a></li>
        </ul>
      </li>
      <li id="mNavi04"> <a href="http://www.snu.ac.kr/research/highlights">연구</a>
        <ul class="sNavi04">
          <li class="li01"><a href="http://www.snu.ac.kr/research/highlights">연구성과</a></li>
          <li class="li19"><a href="http://www.snu.ac.kr/research/activities">연구현황</a></li>
          <li class="li02"><a href="http://www.snu.ac.kr/research/institution">연구기관</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/research/institution">연구소/연구원</a></li>
              <li><a href="http://www.snu.ac.kr/research/government-funded">국가지원연구센터</a></li>
              <li><a href="http://www.snu.ac.kr/research/bk21">BK21플러스 사업단(팀)</a></li>
              <li><a href="http://www.snu.ac.kr/research/hk-projects">HK사업단</a></li>
            </ul>
          </li>
          <li class="li03"><a href="http://www.snu.ac.kr/research/support/international">연구지원</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/research/support/international">국제화연구지원</a></li>
              <li><a href="http://www.snu.ac.kr/research/support/faculty">교수지원</a></li>
              <li><a href="http://www.snu.ac.kr/research/support/achievements">교수업적관리</a></li>
              <li><a href="http://www.snu.ac.kr/research/support/special">한국학&middot;통일학지원</a></li>
              <li><a href="http://www.snu.ac.kr/research/equipment/import">연구용기자재자원</a></li>
            </ul>
          </li>
          <li class="li20"><a href="http://www.snu.ac.kr/research/ethics">연구윤리</a></li>
        </ul>
      </li>
      <li id="mNavi05"> <a href="http://www.snu.ac.kr/SNUmedia">WITH SNU</a>
        <ul class="sNavi05">
          <li class="li01"><a href="http://www.snu.ac.kr/news">서울대소식</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/news">서울대뉴스</a></li>
              <li><a href="http://www.snu.ac.kr/press-releases">보도자료</a></li>
              <li><a href="http://www.snu.ac.kr/notice">공지사항</a></li>
              <li><a href="http://www.snu.ac.kr/events">행사안내</a></li>
              <!--li><a href="http://snu.ac.kr/withsnu/with0105_list.jsp">e-뉴스레터</a></li-->
            </ul>
          </li>
          <li class="li02"><a href="http://www.snu.ac.kr/winners/pride">SNU Awards</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/winners/pride">자랑스러운서울대인</a></li>
              <li><a href="http://www.snu.ac.kr/winners/education">교육상</a></li>
              <li><a href="http://www.snu.ac.kr/winners/research">학술연구상</a></li>
              <li><a href="http://www.snu.ac.kr/winners/service">사회봉사상</a></li>
              <li><a href="http://www.snu.ac.kr/winners/contribution">발전공로상</a></li>
            </ul>
          </li>
          <li class="li031"><a href="http://www.snu.ac.kr/SNUmedia">SNU 미디어</a>
            <ul>
              <!--li><a href="http://snu.ac.kr/withsnu/with02.jsp">SNU Magazine</a></li-->
              <li><a href="http://www.snu.ac.kr/SNUmedia/news">함께하는 미래</a></li>
              <li><a href="http://www.snu.ac.kr/SNUmedia/campus_life">즐거운서울대</a></li>
              <li><a href="http://www.snu.ac.kr/SNUmedia/people">서울대사람들</a></li>
              <li><a href="http://www.snu.ac.kr/SNUmedia/donation">행복한기부</a></li>
            </ul>
          </li>
          <li class="li041"><a href="http://www.snu.ac.kr/storymovies">스토리 영상</a></li>
          <li class="li040"><a href="http://www.snu.ac.kr/outreach/public-events">사회봉사</a>
            <ul>
              <li><a href="http://www.snu.ac.kr/outreach/public-events">대중강연&middot;문화행사</a></li>
              <li><a href="http://www.snu.ac.kr/outreach/mentoring">멘토링</a></li>
              <li><a href="http://www.snu.ac.kr/outreach/for-children">어린이&middot;청소년프로그램</a></li>
              <li><a href="http://www.snu.ac.kr/outreach/students-activities">동아리&middot;수업</a></li>
              <li><a href="http://www.snu.ac.kr/outreach/open-campus" id="lastmenu">학교시설개방</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <form action="http://search.snu.ac.kr/snukr/search.jsp" method="post" name="wnsearch" target="_blank" id="wnsearch">
      <input type="hidden" name="subCate" value="" />
      <!-- value 값을 도서관은 library 로 입력 -->
      <input type="hidden" name="actTarget" value="DefaultPortal" />
      <input type="hidden" name="start" value="0" />
      <input type="hidden" name="Cate" value="total" />
      <input type="hidden" name="charType" value="utf8" />
      <fieldset>
        <legend>검색</legend>
        <div id="search">
          <label for="sech" class="hidden">통합검색</label>
          <input name="query" type="text" id="sech" title="검색어 입력" value="" />
          <input name="button" type="submit" class="btn_search" title="통합검색" value="검색" />
        </div>
      </fieldset>
    </form>
  </div>
</div>
<hr />
<!-- //header -->

  <!-- container -->
  <div id="container_main">
    <div id="con_main">

      <div class="midbox_content">
        <div class="mian_box01">
          <div class="new_box">
            <h2><a href="#wrap" onclick="mainnews_ctrl(); return false;" title="뉴스보이기"><img src="http://snu.ac.kr/images/main/tit01_snukrmain.gif" alt="SNU News" /></a></h2>
            <ul class="main_newsitem">
              <li><a href="http://snu.ac.kr/news?bm=v&amp;bbsidx=120297">서울대 신양, 그것이 알고 싶다</a></li>
              <li><a href="http://snu.ac.kr/news?bm=v&amp;bbsidx=120278">연합전공 탐구 시리즈 I</a></li>
              <li><a href="http://snu.ac.kr/news?bm=v&amp;bbsidx=120277" style="letter-spacing: -0.05em;">꿈을 향하여 끝없이 달리는 웹툰작가..</a></li>
              <li><a href="http://snu.ac.kr/news?bm=v&amp;bbsidx=120276" style="letter-spacing: -0.05em;">변함없이 편견없이_작곡과 임헌정 교수</a></li>
            </ul>
            <span><a href="http://snu.ac.kr/news" title="SNU NEWS 더보기">more</a></span>
          </div>
          <div class="new_box">
            <h2><a href="#wrap" onclick="mainnews_ctrl(); return false;" title="뉴스보이기"><img src="http://snu.ac.kr/images/main/tit02_snukrmain.gif" alt="공지사항" /></a></h2>
            <ul class="main_newsitem">
              <li><a href="http://snu.ac.kr/notice?bm=v&bbsidx=120335" style="letter-spacing: -0.05em;">MALDI-TOF/TOF Workshop 개최</a></li>
              <li><a href="http://snu.ac.kr/job-openings?bm=v&bbsidx=120330" style="letter-spacing: -0.05em;">기초과학공동기기원 자체직원 채용...</a></li>
              <li><a href="http://snu.ac.kr/job-openings?bm=v&bbsidx=120326" style="letter-spacing: -0.05em;">서울대학교 의과대학 직원 채용 공고</a></li>
              <li><a href="http://snu.ac.kr/job-openings?bm=v&bbsidx=120316" style="letter-spacing: -0.05em;">경영전문대학원 MBA 행정실 인턴...</a></li>
            </ul>
            <span><a href="http://snu.ac.kr/notice" title="공지사항 더보기">more</a></span>
          </div>
          <div class="new_box">
            <h2><a href="#wrap" onclick="mainnews_ctrl(); return false;" title="뉴스보이기"><img src="http://snu.ac.kr/images/main/tit03_snukrmain.gif" alt="입학관련뉴스" /></a></h2>
            <ul class="main_newsitem">
              <li><a href="http://admission.snu.ac.kr/international/announcements?bm=v&amp;bbsidx=117057">2013학년도 실크로드 장학 프로그램</a></li>
              <li><a href="http://admission.snu.ac.kr/under/announcements?bm=v&amp;bbsidx=116978">학사편입학전형 지원가능 영어성적...</a> </li>
              <li><a href="http://admission.snu.ac.kr/graduate/announcements?bm=v&amp;bbsidx=116952">대학원 입학전형 영어시험간 환산...</a></li>
              <li><a href="http://admission.snu.ac.kr/graduate/announcements?bm=v&amp;bbsidx=116951">대학원 입학전형 제2외국어시험...</a></li>
            </ul>
            <span><a href="http://admission.snu.ac.kr/index.html" title="입학관련뉴스 더보기">more</a></span>
          </div>
          <div class="new_box">
            <h2><a href="#wrap" onclick="mainnews_ctrl(); return false;" title="뉴스보이기"><img src="http://snu.ac.kr/images/main/tit04_snukrmain.gif" alt="행사안내" /></a></h2>
            <ul class="main_newsitem">
              <li><a href="http://snu.ac.kr/events?bm=v&amp;bbsidx=120327" style="letter-spacing: -0.05em;">블라디미르 아쉬케나지 & 보브카...</a></li>
              <li><a href="http://snu.ac.kr/events?bm=v&amp;bbsidx=120307" style="letter-spacing: -0.05em;">WTO 사무총장 특별강연회 개최</a></li>
              <li><a href="http://snu.ac.kr/events?bm=v&amp;bbsidx=120303" style="letter-spacing: -0.05em;">제3차 투자연구교육센터 심포지엄</a></li>
              <li><a href="http://snu.ac.kr/events?bm=v&amp;bbsidx=120193" style="letter-spacing: -0.05em;">치의학대학원 통일치의학 심포지엄</a></li>
            </ul>
            <span><a href="http://snu.ac.kr/events" title="행사안내 더보기">more</a></span>
          </div>
        </div>

        <div id="news_hide"><a href="#wrap" onclick="mainnews_ctrl(); return false;" title="뉴스감추기">뉴스감추기</a></div>
        <div id="news_show"><a href="#wrap" onclick="mainnews_ctrl(); return false;" title="뉴스보이기">뉴스보이기</a></div>
        <div class="mvslide">
          <div class="controller">
            <a href="#this" class="mvstop" title="슬라이드쇼 멈춤">슬라이드쇼 멈춤</a>
            <a href="#this" class="mvplay" title="슬라이드쇼 시작">슬라이드쇼 시작</a>
          </div>
          <span class="mvslidebtn"><a id="mvslideno1" href="#mvslideimg1" title="1번 사진보기">1번 사진보기</a></span>
          <span class="mvslideimg" id="mvslideimg1"><a href="http://snu.ac.kr/gallery?gaidx=749" title="사진에 대한 설명페이지로 이동합니다."><img src="http://snu.ac.kr/webdata/main/ko/iimg05_banner.jpg?dummy=8d037fc31a6969aee884b7672e459037" alt="도서관 옆 계단" /></a></span>

          <span class="mvslidebtn"><a id="mvslideno2" href="#mvslideimg2" title="2번 사진보기">2번 사진보기</a></span>
          <span class="mvslideimg" id="mvslideimg2"><a href="http://snu.ac.kr/gallery?gaidx=750" title="사진에 대한 설명페이지로 이동합니다."><img src="http://snu.ac.kr/webdata/main/ko/iimg02_banner.jpg?dummy=8d037fc31a6969aee884b7672e459037" alt="가온봉사단" /></a></span>

          <span class="mvslidebtn"><a id="mvslideno3" href="#mvslideimg3" title="3번 사진보기">3번 사진보기</a></span>
          <span class="mvslideimg" id="mvslideimg3"><a href="http://snu.ac.kr/gallery?page=1&gaidx=747" title="사진에 대한 설명페이지로 이동합니다."><img src="http://snu.ac.kr/webdata/main/ko/iimg04_banner.jpg?dummy=8d037fc31a6969aee884b7672e459037" alt="TED x SNU" /></a></span>

          <span class="mvslidebtn"><a id="mvslideno4" href="#mvslideimg4" title="4번 사진보기">4번 사진보기</a></span>
          <span class="mvslideimg" id="mvslideimg4"><a href="http://snu.ac.kr/gallery?gaidx=748" title="사진에 대한 설명페이지로 이동합니다."><img src="http://snu.ac.kr/webdata/main/ko/iimg01_banner.jpg?dummy=8d037fc31a6969aee884b7672e459037" alt="자하연" /></a></span>

          <span class="mvslidebtn"><a id="mvslideno5" href="#mvslideimg5" title="5번 사진보기">5번 사진보기</a></span>
          <span class="mvslideimg" id="mvslideimg5"><a href="http://snu.ac.kr/gallery?gaidx=721" title="사진에 대한 설명페이지로 이동합니다."><img src="http://snu.ac.kr/webdata/main/ko/iimg03_banner.jpg?dummy=8d037fc31a6969aee884b7672e459037" alt="기초사범교육협력센터" /></a></span>
        </div>
     </div>
      <div class="clear"></div>
      <div id="withsnucontent" class="midbox_main">
        <div class="future">
          <h3><img src="http://snu.ac.kr/images/main/tit05_newsnu.gif" alt="For the future, 세계를 선도하는 창의적 지식공동체, 대한민국의 미래를 개척하고 인류사회에 공헌하는 국립대학법인 서울대학교로 거듭나겠습니다." /></h3>
        </div>
        <ul>
          <li>
            <a href="http://snu.ac.kr/news?bm=v&bbsidx=120276"><img src="http://snu.ac.kr/webdata/main/ko/main_news_02.jpg?d=8d037fc31a6969aee884b7672e459037" alt="'변함없이 편견없이' 작곡과 임헌정 교수" /><br />
            <span>'변함없이 편견없이' 임헌정 교수</span></a>
          </li>
          <li>
            <a href="http://snu.ac.kr/news?bm=v&bbsidx=120277"><img src="http://snu.ac.kr/webdata/main/ko/main_news_04.jpg?d=8d037fc31a6969aee884b7672e459037" alt="꿈을 향해 달리는 웹툰작가 세리, 비완을 만나다" /><br />
            <span>꿈을 향해 달리는 웹툰작가 세리, 비완</span></a>
          </li>
          <li>
            <a href="http://snu.ac.kr/news?bm=v&bbsidx=120272"><img src="http://snu.ac.kr/webdata/main/ko/main_news_03.jpg?d=8d037fc31a6969aee884b7672e459037" alt="백만 원의 기적" /><br />
            <span>백만 원의 기적</span></a>
          </li>
          <li class="lastbox">
            <a href="http://snu.ac.kr/press-releases?bm=v&bbsidx=120155"><img src="http://snu.ac.kr/webdata/main/ko/main_news_01.jpg?d=8d037fc31a6969aee884b7672e459037" alt="edX 3강좌 운영" /><br />
            <span>edX 3강좌 운영</span></a>
          </li>
        </ul>
      </div>
      <div class="donate_box">
        <h4><img src="http://snu.ac.kr/images/main/tit06_snukrmain.gif" alt="기부스토리" /></h4>
        <p class="p01"><a href="http://snu.ac.kr/press-releases?bm=v&bbsidx=120149">행정대학원 조석준 명예교수, 후학 양성에 2억원 기부</a></p>
        <div class="give_box">
          <p><a href="http://www.snu.or.kr" title="새창으로 열림" target="_blank"><img src="http://snu.ac.kr/images/main/img05_snukr.gif" alt="SNU Challenge" /></a> <span class="span01"><img src="http://snu.ac.kr/images/main/img06_snukrmain.gif" alt="33,279" /></span> <span><a href="http://www.snu.or.kr" title="새창으로 열림" target="_blank"><img src="http://snu.ac.kr/images/main/img07_snukrmain.gif" alt="분이 참여해  주셨습니다. Give to SNU" /></a></span> </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>

<!-- whole_menu -->

<div style="clear"></div>


<div id="whole_menu">
  <div>
    <h3 class="hidden">하단메뉴</h3>

    <ul class="menu001">
      <li><h2 class="linkheader">대학</h2>
        <ul>
          <li class="li01"><a href="http://humanities.snu.ac.kr" title="새창으로 열림" target="_blank">인문대학</a></li>
          <li><a href="http://social.snu.ac.kr" title="새창으로 열림" target="_blank">사회과학대학</a></li>
          <li><a href="http://cns.snu.ac.kr" title="새창으로 열림" target="_blank">자연과학대학</a></li>
          <li><a href="http://nursing.snu.ac.kr" title="새창으로 열림" target="_blank">간호대학</a></li>
          <li><a href="http://cba.snu.ac.kr" title="새창으로 열림" target="_blank">경영대학</a></li>
          <li><a href="http://eng.snu.ac.kr" title="새창으로 열림" target="_blank">공과대학</a></li>
          <li><a href="http://cals.snu.ac.kr" title="새창으로 열림" target="_blank">농업생명과학대학</a></li>
          <li><a href="http://art.snu.ac.kr" title="새창으로 열림" target="_blank">미술대학</a></li>
        </ul>
      </li>
      <li><h2>&nbsp;</h2>
        <ul>
          <li class="li01"><a href="http://law.snu.ac.kr" title="새창으로 열림" target="_blank">법과대학</a></li>
          <li><a href="http://edu.snu.ac.kr" title="새창으로 열림" target="_blank">사범대학</a></li>
          <li><a href="http://che.snu.ac.kr" title="새창으로 열림" target="_blank">생활과학대학</a></li>
          <li><a href="http://vet.snu.ac.kr" title="새창으로 열림" target="_blank">수의과대학</a></li>
          <li><a href="http://www.snupharm.ac.kr" title="새창으로 열림" target="_blank">약학대학</a></li>
          <li><a href="http://music.snu.ac.kr" title="새창으로 열림" target="_blank">음악대학</a></li>
          <li><a href="http://medicine.snu.ac.kr" title="새창으로 열림" target="_blank">의과대학</a></li>
          <li><a href="http://cls.snu.ac.kr" title="새창으로 열림" target="_blank">자유전공학부</a></li>
        </ul>
      </li>
      <li class="w_110"><h2 class="linkheader">전문대학원</h2>
        <ul>
          <li class="li01"><a href="http://health.snu.ac.kr" title="새창으로 열림" target="_blank">보건대학원</a></li>
          <li><a href="http://gspa.snu.ac.kr" title="새창으로 열림" target="_blank">행정대학원</a></li>
          <li><a href="http://gses.snu.ac.kr" title="새창으로 열림" target="_blank">환경대학원</a></li>
          <li><a href="http://gsis.snu.ac.kr" title="새창으로 열림" target="_blank">국제대학원</a></li>
          <li><a href="http://dentistry.snu.ac.kr" title="새창으로 열림" target="_blank">치의학대학원</a></li>
          <li><a href="http://gsb.snu.ac.kr" title="새창으로 열림" target="_blank">경영전문대학원</a></li>
          <li><a href="http://medicine.snu.ac.kr" title="새창으로 열림" target="_blank">의학대학원</a></li>
          <li><a href="http://law.snu.ac.kr" title="새창으로 열림" target="_blank">법학전문대학원</a></li>
          <li><a href="http://gscst.snu.ac.kr" title="새창으로 열림" target="_blank">융합과학기술대학원</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu002">
      <li class="w_110"><h2 class="linkheader">관련기관</h2>
        <ul>
          <li class="li01"><a href="http://library.snu.ac.kr" title="새창으로 열림" target="_blank">중앙도서관</a></li>
          <li><a href="http://liberaledu.snu.ac.kr" title="새창으로 열림" target="_blank">기초교육원</a></li>
          <li><a href="http://museum.snu.ac.kr" title="새창으로 열림" target="_blank">박물관</a></li>
          <li><a href="http://kyujanggak.snu.ac.kr" title="새창으로 열림" target="_blank">규장각한국학연구원</a></li>
          <li><a href="http://dorm.snu.ac.kr" title="새창으로 열림" target="_blank">관악사</a></li>
          <li><a href="http://health4u.snu.ac.kr" title="새창으로 열림" target="_blank">보건진료소</a></li>
          <li><a href="http://ctl.snu.ac.kr" title="새창으로 열림" target="_blank">교수학습개발센터</a></li>
          <li><a href="http://ilar.snu.ac.kr" title="새창으로 열림" target="_blank">실험동물자원관리원</a></li>
          <li><a href="https://irf.snu.ac.kr" title="새창으로 열림" target="_blank">기초과학공동기기원</a></li>
        </ul>
      </li>
      <li class="w_110"><h2>&nbsp;</h2>
        <ul>
          <li class="li01"><a href="http://lei.snu.ac.kr" title="새창으로 열림" target="_blank">언어교육원</a></li>
          <li><a href="http://snucounsel.snu.ac.kr" title="새창으로 열림" target="_blank">대학생활문화원</a></li>
          <li><a href="http://hrc.snu.ac.kr" title="새창으로 열림" target="_blank">인권센터</a></li>
          <li><a href="http://archives.snu.ac.kr" title="새창으로 열림" target="_blank">기록관</a></li>
          <li><a href="http://eps.snu.ac.kr" title="새창으로 열림" target="_blank">환경안전원</a></li>
          <li><a href="http://www.snumoa.org" title="새창으로 열림" target="_blank">미술관</a></li>
          <li><a href="http://career.snu.ac.kr" title="새창으로 열림" target="_blank">경력개발센터</a></li>
          <li><a href="http://snui.snu.ac.kr" title="새창으로 열림" target="_blank">평생교육원</a></li>
          <li><a href="http://aua.snu.ac.kr" title="새창으로 열림" target="_blank">대학행정교육원</a></li>
        </ul>
      </li>
      <li class="w_110"><h2>&nbsp;</h2>
        <ul>
          <li class="li01"><a href="http://www.snuh.or.kr" title="새창으로 열림" target="_blank">서울대병원</a></li>
          <li><a href="https://www.snudh.org" title="새창으로 열림" target="_blank">서울대치과병원</a></li>
          <li><a href="http://snurnd.snu.ac.kr" title="새창으로 열림" target="_blank">산학협력단</a></li>
          <li><a href="http://www.snuco.com" title="새창으로 열림" target="_blank">생활협동조합</a></li>
          <li><a href="http://www.snu.or.kr" title="새창으로 열림" target="_blank">발전기금</a></li>
          <li><a href="http://www.snupress.com" title="새창으로 열림" target="_blank">출판문화원</a></li>
          <li><a href="http://www.hoam.ac.kr" title="새창으로 열림" target="_blank">호암교수회관</a></li>
          <li><a href="http://www.teps.or.kr" title="새창으로 열림" target="_blank">TEPS관리위원회</a></li>
        </ul>
      </li>

    </ul>
    <ul class="menu003">
      <li class="w_110"><h2 class="linkheader">주요서비스</h2>
        <ul>
          <li class="li01"><a href="https://professor.snu.ac.kr" title="새창으로 열림" target="_blank">교수채용</a></li>
          <li><a href="http://admission.snu.ac.kr/index.html">입학안내</a></li>
          <li><a href="http://www.snu.ac.kr/academic-calendar">학사일정</a></li>
          <li><a href="http://www.snu.ac.kr/leave-of-absence">학사행정</a></li>
          <li><a href="http://sugang.snu.ac.kr/search.html" title="새창으로 열림" target="_blank">수강편람</a></li>
          <li><a href="http://www.snu.ac.kr/non-degree-courses">공개강좌, 비학위과정</a></li>
          <li><a href="http://www.snu.ac.kr/job-openings">채용공고</a></li>
          <li><a href="http://www.snu.ac.kr/bid-notice">입찰공고</a></li>
          <li><a href="http://www.snu.ac.kr/events">행사안내</a></li>
          <li><a href="http://www.snu.ac.kr/site-index">교내홈페이지</a></li>
          <li><a href="http://www.snu.ac.kr/telephone">전화번호안내</a></li>
        </ul>
      </li>
      <li><h2>&nbsp;</h2>
        <ul>
          <li class="li01"><a href="http://isi.snu.ac.kr" title="새창으로 열림" target="_blank">국제하계강좌 (ISI)</a></li>
          <li><a href="http://tour.snu.ac.kr" title="새창으로 열림" target="_blank">캠퍼스투어</a></li>
          <li><a href="http://www.snu.ac.kr/brochure/2013">캠퍼스맵</a></li>
          <li><a href="http://www.snu.ac.kr/certificate/request">증명서발급</a></li>
          <li><a href=" http://book100.snu.ac.kr/book" title="새창으로 열림" target="_blank">서울대권장도서100선</a></li>
          <li><a href="http://www.snu.ac.kr/outreach/for-children">청소년대상프로그램</a></li>
          <li><a href="http://snudanbi.snu.ac.kr/" title="새창으로 열림" target="_blank">장애학생지원</a></li>
          <li><a href="http://oia.snu.ac.kr/" title="새창으로 열림" target="_blank">교환학생프로그램</a></li>
          <li><a href="http://serv4u.snu.ac.kr/" title="새창으로 열림" target="_blank">친절/불친절신고</a></li>
          <li><a href="http://community.snu.ac.kr/bbs/bbs.qna.list.screen?bbs_id=474" title="새창으로 열림" target="_blank">예산·회계 질의</a></li>
        </ul>
      </li>
    </ul>



  </div>
</div>
<!-- //whole_menu -->

  </div>
  <hr />
  <!-- //container -->


<!-- footer -->
  <div id="footer">
    <div class="footerbox">
      <div style="float:left;">
        <div class="linkbox">
          <ul id="links">
            <li><a href="http://www.academyinfo.go.kr/UIPISA/uipnh/unt/ipsrch/UntUnvAcdtSrchPupExtrn.do?schlId=0000019" title="새창으로 열림" target="_blank">정보공시</a></li>
            <li><a href="http://www.snu.ac.kr/campus/Gwanak/subway">오시는 길</a></li>
            <li><a href="http://www.snu.ac.kr/telephone">전화번호안내</a></li>
            <li><a href="http://www.snu.ac.kr/tuition ">등록금납부</a></li>
            <li><a href="http://my.snu.ac.kr" title="새창으로 열림" target="_blank">서울대포털</a></li>
            <li class="end"><a href="http://www.snu.ac.kr/site-index">교내홈페이지</a></li>
          </ul>
        </div>


        <div class="addresswrap">
          <address><a href="http://www.snu.ac.kr/campus/address">151-742 서울시 관악구 관악로 1 서울대학교</a> | Tel. 02-880-5114 | Fax. 02-885-5272 | Email <a href="mailto:webmaster@snu.ac.kr">webmaster@snu.ac.kr</a></address>
          <p class="footerlink">Copyright 2014 Seoul National University All Rights Reserved.
            <a href="http://www.snu.ac.kr/personal_information" class="footerlink">[개인정보처리방침]</a>
            <a href="http://www.snu.ac.kr/prohibition_of_unauthorized_email_collection" class="footerlink">[이메일무단수집거부]</a>
          </p>
        </div>
      </div>
    </div>

    <div class="wamark">
      <div class="rightimg">
        <img src="http://snu.ac.kr/_skin/default/images/common/wamark_20140417.png" alt="웹접근성 품질마크(미래창조과학부)" title="웹접근성 품질마크(미래창조과학부)" />
      </div>
    </div>
  </div>
  <!-- //footer -->

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-9000221-2']);
_gaq.push(['_setDomainName', 'snu.ac.kr']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
if("https:" == document.location.protocol) ga.src = 'https://ssl.google-analytics.com/ga.js';
else ga.src = 'https://www.google-analytics.com/ga.js';

//ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '/_skin/default/inc/.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
})();

/*
if("https:" == document.location.protocol) {
  document.write(unescape("%3Cscript src='https://ssl.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
}
else {
  document.write(unescape("%3Cscript src='http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
}

try {
  var pageTracker = _gat._getTracker("UA-9000221-2");
  pageTracker._trackPageview();
} catch(err) {}
*/
</script>

</div>

<script type="text/javascript" src="http://snu.ac.kr/js/mainslideshow.js"></script>

<script type="text/javascript">


jQuery(function($) {
  $(document).ready(function() {

    if(getCookie("20140220_snu") != "done") {
//      wint=window.open('/popup','20140220_snu','width='+'422'+',height='+'330'+',left='+'0'+',top='+'10'+',marginwidth=0,marginheight=0,resizable=0,scrollbars=no');
    }
  });
});
</script>

</body>
</html>
