
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">










 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>My Lecture</title>
     <link href="http://my.snu.ac.kr/mysnu/Html/css/cssbasic.css" rel="stylesheet" type="text/css" />
	 	<script language="JavaScript">
		function popHaksa(url){
			var name="haksa";
			window.open(url, name, "height=600,width=850,scrollbars=yes,status=no,resizable=yes");
		}
	</script> 
</head>
<body>
<div class="notice_box"> 
	<ul class="maintab">
	    <li><a href="http://my.snu.ac.kr/mysnu/snu/GA044.face"  class="tab_on">My Lecture</a></li>
		<li class="more"><a href="http://newetl.snu.ac.kr/" target="_blank">more</a></li>
	</ul>     
	<ul class="myclasslist">
	
	 
			
				<li>No Exist Data.</li>
			
			
	
	</ul>  
</div>
</body>
</html>
