
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">










<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>학교뉴스 SN010</title>
     <link href="http://my.snu.ac.kr/mysnu/Html/css/cssbasic.css" rel="stylesheet" type="text/css" />

	 <script type="text/javascript">
		function newsMore() {
			var more = document.getElementById("news_more");
			var display = more.style.display;
			if(display == "block") {
				more.style.display = "none";
			} else {
				more.style.display = "block";
			}
		}
	 </script>
</head>
<body style="margin:10px 0 0 0;">
<!-- 뉴스 -->


<ul class="news">
       <li class="newstab_box"> 
               <ul class="newstab">
               <li class="on">SNU NEWS</li>
	
               </ul>

       </li>

			<li><a href="http://en.snu.ac.kr/notice?bm=v&bbsidx=120331" target="_blank">Admission Guide for International Students, Spring 2015(Undergraduate)</a></li>

			<li><a href="http://en.snu.ac.kr/notice?bm=v&bbsidx=120267" target="_blank">Open Cafe at Hoam Starts its Business</a></li>

			<li><a href="http://en.snu.ac.kr/notice?bm=v&bbsidx=120214" target="_blank">2014 Fall International Admission Decision(Undergraduate)</a></li>

			<li><a href="http://en.snu.ac.kr/snunews?bm=v&bbsidx=120084" target="_blank">SNU Ranked World&#039;s 26th in Academic Reputation</a></li>

			<li><a href="http://en.snu.ac.kr/notice?bm=v&bbsidx=120069" target="_blank">The 11th Korean Language Speech Contest</a></li>

			<li><a href="http://en.snu.ac.kr/notice?bm=v&bbsidx=119937" target="_blank">2014 Silk-Road Scholarship Guide for International Students</a></li>

			<li><a href="http://en.snu.ac.kr/notice?bm=v&bbsidx=119936" target="_blank">GSFS(Graduate Scholarship for Excellent Foreign Students) Guide for International Students, Fall 2014</a></li>

			<li><a href="http://en.snu.ac.kr/notice?bm=v&bbsidx=119910" target="_blank">Admission Guideline for 2014 KGSP Graduate Programs (University Recommendation)</a></li>

</ul>


</body>
</html>
