
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">










 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Notice</title>
     <link href="http://my.snu.ac.kr/mysnu/Html/css/cssbasic.css" rel="stylesheet" type="text/css" />
	 <script language="JavaScript">
		function boardPop(url){
			 var name ="community";
			 window.open(url, name,"width=800px,height=740px,scrollbars=yes");
		}
	 </script>
</head>
<body>
<div class="notice_box"> 
	<ul class="maintab">
		<li><a href="http://my.snu.ac.kr/mysnu/snu/GA042.face"class="tab_on">Notice</a></li>
		<li class="more"><a href="http://my.snu.ac.kr/mysnu/portal/MS010/en/TO030/SB010/ME010" target="_parent">more</a></li>    
		<li><a href="http://my.snu.ac.kr/mysnu/snu/GA043.face">FreeBoard</a></li>
		
	</ul>     
	<ul class="notice"style="height:220px;">
	
	 
		
		 
	    <li><span class="notice_title"><a href="#pop" onclick="boardPop('http://community.snu.ac.kr/bbs/bbs.enmessage.view.screen?bbs_id=403&message_id=143541');">Notice of SNU mail service suspension</a></span><span class="notice_date">2014.05.26</span></li>
    	 
	    <li><span class="notice_title"><a href="#pop" onclick="boardPop('http://community.snu.ac.kr/bbs/bbs.enmessage.view.screen?bbs_id=403&message_id=143329');">G20 Global Business Challenge</a></span><span class="notice_date">2014.05.19</span></li>
    	 
	    <li><span class="notice_title"><a href="#pop" onclick="boardPop('http://community.snu.ac.kr/bbs/bbs.enmessage.view.screen?bbs_id=403&message_id=143327');">Invitation for the LOOKING CHINA PROJECT for July 2014 </a></span><span class="notice_date">2014.05.19</span></li>
    	 
	    <li><span class="notice_title"><a href="#pop" onclick="boardPop('http://community.snu.ac.kr/bbs/bbs.enmessage.view.screen?bbs_id=403&message_id=143091');">2014 Gwanak Campus Student Health Checkup</a></span><span class="notice_date">2014.05.13</span></li>
    	 
	    <li><span class="notice_title"><a href="#pop" onclick="boardPop('http://community.snu.ac.kr/bbs/bbs.enmessage.view.screen?bbs_id=403&message_id=143090');">2014 Spring SSA I LOVE SNU Event (2014 봄학기 서울대사랑 행사) </a></span><span class="notice_date">2014.05.13</span></li>
    	 
	    <li><span class="notice_title"><a href="#pop" onclick="boardPop('http://community.snu.ac.kr/bbs/bbs.enmessage.view.screen?bbs_id=403&message_id=142966');">Distinguish Lecture by Mr. Roberto Azevedo, Director-General of WTO</a></span><span class="notice_date">2014.05.09</span></li>
    	 
	    <li><span class="notice_title"><a href="#pop" onclick="boardPop('http://community.snu.ac.kr/bbs/bbs.enmessage.view.screen?bbs_id=403&message_id=142759');">2014 SNU International Summer Institute</a></span><span class="notice_date">2014.04.30</span></li>
    	 
	    <li><span class="notice_title"><a href="#pop" onclick="boardPop('http://community.snu.ac.kr/bbs/bbs.enmessage.view.screen?bbs_id=403&message_id=142526');">Notice of SNU mail service suspension (Delayed)</a></span><span class="notice_date">2014.04.22</span></li>
    	 
	    <li><span class="notice_title"><a href="#pop" onclick="boardPop('http://community.snu.ac.kr/bbs/bbs.enmessage.view.screen?bbs_id=403&message_id=142408');">Library Orientation &amp; Tour for International Scholars and Students</a></span><span class="notice_date">2014.04.18</span></li>
    	 
	    <li><span class="notice_title"><a href="#pop" onclick="boardPop('http://community.snu.ac.kr/bbs/bbs.enmessage.view.screen?bbs_id=403&message_id=142394');">Distinguished Lecture by H.E. Mr. Qiu Guohong, Chinese Ambassador to the Republic of Korea (ROK)</a></span><span class="notice_date">2014.04.18</span></li>
    	
	
	</ul>  
</div>
</body>
</html>
