<!-- 개인정보 부분 -->
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>개인정보</title> 
	<link href="http://my.snu.ac.kr/mysnu/Html2/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<script language="JavaScript">
		function userChange(data){
			if(data =='-1'){
				return false;
			}
			parent.location.href ="http://my.snu.ac.kr/mysnu/user/changeUser.face?langKnd=en&destination=/mysnu/portal/&groupKey="+data;
		}
	
		function windowPop(data){
			var url =data;
			var name="pop";
			window.open(url,name);
		}
	
	</script>
	<body>
		<div id="leftArea">
			<!-- 개인정보-->
			<div class="mylog">
				<ul>
					<li class="welcome" style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap;">Welcome&nbsp;
						<span class="name" >
							
							<strong>Kim Kil Ho</strong>
		 				</span>
					</li>
					<li>

						<span class="receive"><a href="http://mail.snu.ac.kr/potal/login" target="_blank">Inbox<em> 273</em></a></span>
						<span class="txtR"><a href="http://my.snu.ac.kr/mysnu/portal/MS010/en/TO020/SB010" target="_blank">Compose</a></span>
					</li>
					<li>
						<span class="receive">
							<a href="#">Book 
								<em>0</em>
							</a>
						</span>
						<span class="txtR">
						
							<a href="http://library.snu.ac.kr/eng/LibraryServices?id=cir&file=List" target="_blank">ShortCut</a>
						
						</span>
					</li>
					<li>Helth Appointment :
					None
					
					</li>
					<li>Last Login : 2014.05.27 19:22</li>
					<li>
						
						 Group : 
							
								
									
									
										
									
									
										
										
											
											
												Student
											
										
									
								
							
						
					</li>
					<li>
					<select onchange="windowPop(this.value);">
							<option value="-1">My Site</option>
						
							
							
							
							
							
							
							
							
							
							
							
							<option value='http://eei.snu.ac.kr/english/' title='Department of Electrical Engineering'>Department of Electrical Engineering</option>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<option value='http://mae.snu.ac.kr/eng/default.asp' title='Department of Mechanical &amp; Aerospace Engineering'>Department of Mechanical &amp; Aerospace Engineering</option>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<option value='http://ere.snu.ac.kr/en/main/main.asp' title='Dept. of Energy Resources Engineering'>Dept. of Energy Resources Engineering</option>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<option value='http://eng.snu.ac.kr/english/index.php' title='College of Engineering'>College of Engineering</option>
							
							
							
							
							
							<option value='http://ere.snu.ac.kr/en/main/main.asp' title='Dept. of Energy System Engineering'>Dept. of Energy System Engineering</option>
							
							
							
							
							
							<option value='http://temep.snu.ac.kr:8282/index.do?site=temep' title='Interdisciplinary Program in Technology Management, Economics and Policy'>Interdisciplinary Program in Technology Management, Economics and Policy</option>
							
							
							
							
							
							<option value='http://cbe.snu.ac.kr/' title='Dept. of Chemical and Biological Engineering'>Dept. of Chemical and Biological Engineering</option>
							
							
							
							
							
							<option value='http://eng.snu.ac.kr/english/index.php' title='공대(서무)'>공대(서무)</option>
							
							
							
							
							
							<option value='http://cse.snu.ac.kr/english/index.asp' title='Department of Computer Science and Engineering'>Department of Computer Science and Engineering</option>
							
							
							
							
							
							<option value='http://eng.snu.ac.kr/english/index.php' title=''></option>
							
							
							
							
							
							<option value='http://eng.snu.ac.kr/english/index.php' title=''></option>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<option value='http://nucleng.snu.ac.kr/' title='Dept. of Nuclear Engineering'>Dept. of Nuclear Engineering</option>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<option value='http://bioeng.snu.ac.kr/english/index.php' title='Interdisciplinary Program in Bioengineering'>Interdisciplinary Program in Bioengineering</option>
							
							
							
							
							
							
							
							
							
							<option value='http://ce.snu.ac.kr/eng/' title='Dept. of Civil and Environmental Engineering'>Dept. of Civil and Environmental Engineering</option>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<option value='http://ce.snu.ac.kr/eng/' title='Dept. of Civil, Urban and Geosystem Engineering'>Dept. of Civil, Urban and Geosystem Engineering</option>
							
							
							
							
							
							<option value='http://mse.snu.ac.kr/' title='Dept. of Materials Science and Engineering'>Dept. of Materials Science and Engineering</option>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<option value='http://cse.snu.ac.kr/english/index.asp' title='Dept. of Computer Engineering'>Dept. of Computer Engineering</option>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
						
					</select>
					</li>
				</ul>
				
				
					
					
						<ul class="mybtn">
							<li><a href="http://my.snu.ac.kr/mysnu/portal/MS010/en/TO999/MY013.page?certi=certi" target="_parent"><strong style="line-height:10px;">Certification Center</strong></a></li>
							<li><a href="http://my.snu.ac.kr/mysnu/portal/MS010/en/TO999/MY031.page" target="_parent"><strong style="line-height:10px;">Change Password</strong></a></li>
						</ul>
					
				
			</div>
		</div>

	</body>
	</html>

