<link href="http://my.snu.ac.kr/mysnu/Html2/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
 
  function pageDisplay(e){
    
    var it1 = document.getElementById("item1");
    var it2 = document.getElementById("item2");
    var it3 = document.getElementById("item3");
    var it4 = document.getElementById("item4");
    var pg1 = document.getElementById("page1");
    var pg2 = document.getElementById("page2");
    var pg3 = document.getElementById("page3");
    var pg4 = document.getElementById("page4");
    
    if(e=='1'){
      it1.style.display="block";
      it2.style.display="none";
      pg1.style.fontWeight = 'bold';
      pg2.style.fontWeight = 'normal';
    }else if(e=='2'){
      it1.style.display="none";
      it2.style.display="block";
      pg1.style.fontWeight = 'normal';
      pg2.style.fontWeight = 'bold';
    }else if(e=='3'){
      it3.style.display="block";
      it4.style.display="none";
      pg3.style.fontWeight = 'bold';
      pg4.style.fontWeight = 'normal';
    }else if(e=='4'){
      it3.style.display="none";
      it4.style.display="block";
      pg3.style.fontWeight = 'normal';
      pg4.style.fontWeight = 'bold';
    }
    
  }

</script>

 <div id="centerArea">
     <div class="maincont">
         <!--(eTL)나의수강강좌-->
         <div class="lecture">
             <div class="title"><span><img src="http://my.snu.ac.kr/mysnu/Html2/images/stu/tabtitleLecture.gif" alt="나의수강강좌" /></span> <span class="more"><a href="http://newetl.snu.ac.kr/" target="_blank">더보기</a></span></div>
             <ul> 
              
      <div id="item1">
         
          <li>
             <span class="title" title="공학도의 도전과 리더십">공학도의 도전과 리더십</span>
                       <span class="mintB"><a href="http://etl.snu.ac.kr/course/view.php?id=69312" target="_blank" >eTL</a></span>
                       <span class="grayB"><a href="/mysnu/portal/MS010/ko/TO980/SB010/ME300" target="_parent">상담</a></span>
          </li>
         
          <li>
             <span class="title" title="Creative Thinking for Engineers">Creative Thinking for Engineers</span>
                       <span class="mintB"><a href="http://etl.snu.ac.kr/course/view.php?id=69327" target="_blank" >eTL</a></span>
                       <span class="grayB"><a href="/mysnu/portal/MS010/ko/TO980/SB010/ME300" target="_parent">상담</a></span>
          </li>
         
          <li>
             <span class="title" title="산업공학세미나">산업공학세미나</span>
                       <span class="mintB"><a href="http://etl.snu.ac.kr/course/view.php?id=69329" target="_blank" >eTL</a></span>
                       <span class="grayB"><a href="/mysnu/portal/MS010/ko/TO980/SB010/ME300" target="_parent">상담</a></span>
          </li>
         
          <li>
             <span class="title" title="영상예술의 이해">영상예술의 이해</span>
                       <span class="mintB"><a href="http://etl.snu.ac.kr/course/view.php?id=71487" target="_blank" >eTL</a></span>
                       <span class="grayB"><a href="/mysnu/portal/MS010/ko/TO980/SB010/ME300" target="_parent">상담</a></span>
          </li>
         
          <li>
             <span class="title" title="자료구조">자료구조</span>
                       <span class="mintB"><a href="http://etl.snu.ac.kr/course/view.php?id=75008" target="_blank" >eTL</a></span>
                       <span class="grayB"><a href="/mysnu/portal/MS010/ko/TO980/SB010/ME300" target="_parent">상담</a></span>
          </li>
         
          <li>
             <span class="title" title="전략경영특강">전략경영특강</span>
                       <span class="mintB"><a href="http://etl.snu.ac.kr/course/view.php?id=75628" target="_blank" >eTL</a></span>
                       <span class="grayB"><a href="/mysnu/portal/MS010/ko/TO980/SB010/ME300" target="_parent">상담</a></span>
          </li>
        
      </div>
      <div id="item2" style="display:none;">
         
          <li>
             <span class="title" title="논리학">논리학</span>
                       <span class="mintB"><a href="http://etl.snu.ac.kr/course/view.php?id=75854" target="_blank" >eTL</a></span>
                       <span class="grayB"><a href="#">상담</a></span>
          </li>
         
          <li>
             <span class="title" title="선형대수학">선형대수학</span>
                       <span class="mintB"><a href="http://etl.snu.ac.kr/course/view.php?id=76094" target="_blank" >eTL</a></span>
                       <span class="grayB"><a href="#">상담</a></span>
          </li>
        
        
           
            <li style="visibility:hidden;">
              <span class="title">8hidden2</span>
              <span class="mintB" style="visibility:hidden;"><a href="#">eTL</a></span>
                          <span class="grayB" style="visibility:hidden;"><a href="#">상담</a></span>
            </li>
           
            <li style="visibility:hidden;">
              <span class="title">8hidden2</span>
              <span class="mintB" style="visibility:hidden;"><a href="#">eTL</a></span>
                          <span class="grayB" style="visibility:hidden;"><a href="#">상담</a></span>
            </li>
           
            <li style="visibility:hidden;">
              <span class="title">8hidden2</span>
              <span class="mintB" style="visibility:hidden;"><a href="#">eTL</a></span>
                          <span class="grayB" style="visibility:hidden;"><a href="#">상담</a></span>
            </li>
           
            <li style="visibility:hidden;">
              <span class="title">8hidden2</span>
              <span class="mintB" style="visibility:hidden;"><a href="#">eTL</a></span>
                          <span class="grayB" style="visibility:hidden;"><a href="#">상담</a></span>
            </li>
          
        
      </div>
             </ul>
             
               <div class="page">
                   <a href="#" id="page1" class="first on" onClick="javascript:pageDisplay(1);">1</a>
                   <a href="#" id="page2" onClick="javascript:pageDisplay(2);">2</a>
               </div>
           
         </div>
         <!--(eTL)나의수강강좌//-->                
         <!--eTL공지사항-->
         <div class="etl">
             <div class="title"><span><img src="http://my.snu.ac.kr/mysnu/Html2/images/stu/tabtitleETL.gif" alt="ETL공지사항" /></span> <span class="more"><a href="http://etl.snu.ac.kr/mod/ubboard/my.php?basic=1" target="_blank">더보기</a></span></div>
               <ul>
                 
           <div id="item3">
                    
              <li>
                           <span class="title" title="3/14 수업 관련 공지"><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=202932&amp;bwid=475651" target="_blank">3/14 수업 관련 공지</a></span>
                           <span class="time">2014.03.14</span>
                       </li>
              
              <li>
                           <span class="title" title="지정좌석표 및 강의관련 공지"><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=202932&amp;bwid=474222" target="_blank">지정좌석표 및 강의관련 공지</a></span>
                           <span class="time">2014.03.13</span>
                       </li>
              
              <li>
                           <span class="title" title="감상문 관련 추가 공지"><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=202983&amp;bwid=473124" target="_blank">감상문 관련 추가 공지</a></span>
                           <span class="time">2014.03.12</span>
                       </li>
              
              <li>
                           <span class="title" title="3월 7일 금요일 세미나 출석 관련 공지"><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=202983&amp;bwid=471650" target="_blank">3월 7일 금요일 세미나 출석 관련 공지</a></span>
                           <span class="time">2014.03.11</span>
                       </li>
              
              <li>
                           <span class="title" title="감상문 관련 공지"><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=202983&amp;bwid=471573" target="_blank">감상문 관련 공지</a></span>
                           <span class="time">2014.03.11</span>
                       </li>
              
              <li>
                           <span class="title" title="산업공학세미나 강의실 (43-1동 101호)로 변경."><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=202983&amp;bwid=470869" target="_blank">산업공학세미나 강의실 (43-1동 101호)로 변경.</a></span>
                           <span class="time">2014.03.10</span>
                       </li>
             
           </div>
           <div id="item4" style="display:none;">
                    
              <li>
                           <span class="title" title="세미나 평가 기준"><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=202983&amp;bwid=468054" target="_blank">세미나 평가 기준</a></span>
                           <span class="time">2014.03.07</span>
                       </li>
              
              <li>
                           <span class="title" title="기말고사 풀이"><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=200480&amp;bwid=462884" target="_blank">기말고사 풀이</a></span>
                           <span class="time">2014.01.27</span>
                       </li>
              
              <li>
                           <span class="title" title="과제 샘플"><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=200480&amp;bwid=462750" target="_blank">과제 샘플</a></span>
                           <span class="time">2014.01.25</span>
                       </li>
              
              <li>
                           <span class="title" title="기말고사 공지"><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=200480&amp;bwid=462670" target="_blank">기말고사 공지</a></span>
                           <span class="time">2014.01.24</span>
                       </li>
              
              <li>
                           <span class="title" title="최종성적 공지 "><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=200480&amp;bwid=461594" target="_blank">최종성적 공지 </a></span>
                           <span class="time">2014.01.16</span>
                       </li>
              
              <li>
                           <span class="title" title="중간고사 풀이"><a href="http://etl.snu.ac.kr/mod/ubboard/article.php?id=200480&amp;bwid=460676" target="_blank">중간고사 풀이</a></span>
                           <span class="time">2014.01.09</span>
                       </li>
             
             
            
          
           </div>
               </ul>
           
               <div class="page">
                   <a href="#" id="page3" class="first on" onClick="javascript:pageDisplay(3);">1</a>
                   <a href="#" id="page4" onClick="javascript:pageDisplay(4);">2</a>
               </div>
               
         </div>
         <!--나의수강강좌//-->
     </div>                
</div>
