<div id="header" class="headeranon">
  <br class="cbt">
  <div id="hlogo">
    <a href="/qna" style="background-image: url('/assets/img01_mark_ab0102.gif');">SNU</a>
  </div>
  <div id="hmenus">
    <div class="nav mainnavs mainnavsanon">
      <ul>
        <li id="button-class">
          <a id="nav-class" href="/category/class">Class</a>
        </li>
        <li id="button-grades">
          <a id="nav-grades" href="/category/grades">Grades</a>
        </li>
        <li id="button-activities">
          <a id="nav-activities" href="/category/activities">Activities</a>
        </li>
      </ul>
    </div> <!-- end div.nav mainnavs mainnavsanon -->
    <div class="nav askquestion">
      <ul>
        <li>
          <a id="nav-askquestion" href="/qna/write">Ask Question</a>
        </li>
      </ul>
    </div> <!-- end div.nav askquestion -->
  </div> <!-- end hmenus -->
</div> <!-- end div#header -->

