<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div id="header" class="headeranon">
    <br class="cbt">
    <div id="hlogo">
      <a href="/" style="background-image: url('/assets/img01_mark_ab0102.gif');">SNU</a>
    </div>
    <div id="hmenus">
      <div class="nav mainnavs mainnavsanon">
        <ul>
          <li <% if @category == "class" %>class="youarehere"<% end %>>
            <a id="nav-class" href="/class">Class</a>
          </li>
          <li <% if @category == "grades" %>class="youarehere"<% end %>>
            <a id="nav-grade" href="/grades">Grades</a>
          </li>
          <li <% if @category == "activities" %>class="youarehere"<% end %>>
            <a id="nav-activity" href="/activities">Activities</a>
          </li>
        </ul>
      </div> <!-- end div.nav mainnavs mainnavsanon -->
      <div class="nav askquestion">
        <ul>
          <li>
            <a id="nav-askquestion" href="/foods/write">Ask Question</a>
          </li>
        </ul>
      </div> <!-- end div.nav askquestion -->
    </div> <!-- end hmenus -->
  </div> <!-- end div#header -->

  <div id="content">
    <div id="content">
      <%= render :partial => "foods/posts" %>
    </div><!-- end div#content -->
  </div> <!-- end div#content -->
</div>
