<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <%= render :partial => 'foods/subheader' %>

  <div id="content">
    <div id="content">
      <%= render :partial => "foods/posts" %>
    </div><!-- end div#content -->
  </div> <!-- end div#content -->
</div>

<script>
  var category = "<%= @category %>";
  $(document).ready(function(){
    $("#button-"+category).addClass("youarehere");
  });
</script>
