<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div class="well text-center">
    <h3>Welcome to the SNU Q&A Forum!</h3>
    <p>Please feel free to ask anything about SNU life.</p>
  </div>

  <%= render :partial => "foods/posts" %>
</div>
