<div class="topbar">
  <div class="topbar-wrapper">
    <div class="js-topbar-dialog-corral">
    </div>
    <div class="network-items">
      <div style="padding-top: 10px; font-size: 16px;">
          <a href="/foods/posts" class="login-link" style="color: #ffffff;">SNU Q&A Forum</a>
      </div>
    </div>
    <div class="topbar-links">
      <div class="links-container">
        <span class="topbar-menu-links">
          <% if session[:user_id].nil? %>
          <a href="/users/signup" class="login-link" wrc_done="true">sign up</a>
          &nbsp;
          <a href="/users/login" class="login-link" wrc_done="true">log in</a>
          &nbsp;
          <% else %>
          <a class="login-link"><strong><%= User.find(session[:user_id]).username %></strong></a>
          <a href="/users/logout_complete" class="login-link">log out</a>
          <% end %>
          <a href="#">tour</a>
          <a href="#" class="icon-help js-help-button">help <span class="triangle"></span></a>
          <div class="topbar-dialog help-dialog js-help-dialog dno">
          </div>
        </span> <!-- end span.topbar-menu-links -->
      </div> <!-- end div.links-container -->
      <div class="search-container">
        <form id="search" action="#" method="get" autocomplete="off">
          <input name="q" type="text" placeholder="search" value tabindex="1" autocomplete="off" maxlength="240" style="height: 22px;">
        </form> <!-- end form#search -->
      </div> <!-- end div.search-container -->
    </div> <!-- end div.topbar-links -->
  </div> <!-- end div.topbar-wrapper -->
</div> <!-- end div.topbar -->
